@import "tailwindcss";

@font-face {
  font-family:'cinzel' ;
  src: url('/fonts/CinzelDecorative-Black.ttf');
}
@font-face {
  font-family:'poppins' ;
  src: url('/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family:'lato' ;
  src: url('/fonts/Lato-Bold.ttf');
  font-weight: 600;
}
@theme{
  --font-cinzel : cinzel;
  --font-poppins : poppins;
  --font-lato:lato;
  --color-bg:#f5f5f5;
  --color-light:#a8d5ba;
  --color-bold:#2f5d50;
}
html,body{
  overflow-x: hidden;
  background-color:#fef3c6 ;
}
h1{
  font-family: 'cinzel';
}
h2{
  font-family: poppins;
}
p{
  font-family: lato;
}